<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="1-Click-KB-Switch" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Develastic" UpgradeCode="1D7CE10C-6FF1-4FE2-9B86-A166803E18AB">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of 1-Click-KB-Switch is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch 1-Click-KB-Switch" />
    <Property Id="WixShellExecTarget" Value="[INSTALLDIR]1-Click-KB-Switch.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="packaging\windows\eula.rtf" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed</Publish>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="1-Click-KB-Switch" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="1-Click-KB-Switch" />
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="1-Click-KB-Switch" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Product>
</Wix>
